:root {
  --bg:#f3e9fc;        /* fondo lavanda */
  --bg2:#7c3aed;       /* fondo secundario elementos lila oscuro */
  --text:#0e0e0e;      /* texto principal negro */
  --text2:#4f4f4f;     /* texto secundario */
  --text3: #54585a;    /*texto terciario*/
  --btn:#f4ffb5;       /* lima suave para el botón */
  --btn-border: #000000; /* borde negro para botones */
  --btn-hover: #d6ff61; /* hover un punto más oscuro */
  --card:#ffffff;      /* tarjetas/cajas blancas */
  --border:#e2d6f7;    /* borde lavanda suave */
  --accent:#7c3aed;    /* lila oscuro para acentos/títulos */
  --main-font:"Bricolage Grotesque", system-ui, Arial, sans-serif;
  --secondary-font:"Noto Serif", system-ui, Arial, sans-serif;
}
