<section class="preview">
  <button class="reset-btn js_resetBtn">
    <i class="fas fa-trash"></i> RESET
  </button>
  <div class="profile-card js_cardPreview">
    <div class="card-header">
      <h2 class="nombre">Nombre Apellido</h2>
      <p class="rol">Front-end developer</p>
    </div>
    <div class="photo-container js__profile-image">
      <img
        src="images/tech-girl-profile-photo-example.jpg"
        alt="Foto de perfil"
        class="profile-img"
      />
    </div>
    <div class="icons">
      <a href="#"><i class="fas fa-mobile-alt"></i></a>
      <a href="#"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
